<!doctype html>
<html ng-app="">
	<head>
		<meta lang="EN" charset="UTF-8">
		
		<title>Thinkful AngularJS Unit 1 Lesson 2 - ngMadLibs</title>
		
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body class="wrapper">
		<section class="header">
			<div class="happy_face">
				<img src="images/mad-lib-happy-face.png">
			</div>
			<div class="logo">
				<div>
					<img src="images/ng-mad-libs-logo.png">
				</div>
				<div>
					<h1>Automate This!</h1>
				</div>
			</div>
		</section>
		<section class="container">
			<div class="inputs">
				<h2>Provide the following words</h2>
				<form name="ngMadlibs_form">
					<div class="input_row">
						<input type="text" placeholder="Male Name" ng-model="male_name" ng-init="male_name = 'Yo'">
						<input type="text" placeholder="Dirty Task" ng-model="dirty_task" ng-init="dirty_task = 'doing dishes'">
						<input type="text" placeholder="Obnoxious Celebrity" ng-model="obnoxious_celebrity" ng-init="obnoxious_celebrity = 'Paris Hilton'">
					</div>
					<div class="input_row">
						<input type="text" placeholder="Job Title" ng-model="job_title" ng-init="job_title = 'CEO'">
						<input type="text" placeholder="Celebrity" ng-model="celebrity" ng-init="celebrity = 'Matt Damon'">
						<input type="text" placeholder="Huge Number" ng-model="huge_number" ng-init="huge_number = 'gazillion'">
					</div>
					<div class="input_row">
						<input type="text" placeholder="Tedious Task" ng-model="tedious_task" ng-init="tedious_task='debugging'">
						<input type="text" placeholder="Useless Skill" ng-model="useless_skill" ng-init="useless_skill='knit'">
						<input type="text" placeholder="Adjective" ng-model="adjective" ng-init="adjective='beautiful'">
					</div>
				</form>
			</div>
			<div class="text">
				<p>
					{{male_name}} was a {{job_title}} who loved technology. Although she loved parts of her job, she absolutely hated  {{tedious_task}} and {{dirty_task}}. So, {{male_name}} met with her life mentor {{celebrity}} who told her to learn how to {{useless_skill}} with Thinkful. Thinkful didn't offer a course on {{useless_skill}} so she studied programming instead. 
		 		</p>
		 		<p>
					What a great decision! With her new skills, {{male_name}} built a {{adjective}} robot named {{obnoxious_celebrity}} that not only loved {{dirty_task}} but did it {{huge_number}} times faster. 
				</p>
			</div>
		</section>

		<!-- scripts -->
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/app.js"></script>

	</body>
</html>