<!doctype html>
<html ng-app="myApp">
	<head>
		<meta lang="EN" charset="UTF-8">
		
		<title>Thinkful AngularJS Unit 1 Lesson 2 - ngMadLibs</title>
		
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/animation.css">
	</head>
	<body class="wrapper">
		<section class="header">
			<div class="happy_face">
				<img src="images/mad-lib-happy-face.png">
			</div>
			<div class="logo">
				<div>
					<img src="images/ng-mad-libs-logo.png">
				</div>
				<div>
					<h1>Automate This!</h1>
				</div>
			</div>
		</section>
		<section class="container" ng-controller="mainController">
			<div class="inputs page-change-animation" ng-show="page1">
				<h2>Provide the following words</h2>
				<form name="madlibs_form" ng-submit="validate(); submitted = true;" novalidate>
					<div class="gender">
						<input type="radio" value="male" name="male" ng-model="formData.gender"> Male
						<input type="radio" value="female" name="female" ng-model="formData.gender"> Female
					</div>
					<div class="input_row">
						<input type="text" name="name" ng-model="formData.name" required>
						<input type="text" name="dirty_task" ng-model="formData.dirty_task" required>
						<input type="text" name="obnoxious_celebrity" ng-model="formData.obnoxious_celebrity" required>
					</div>
					<div class="input_row">
						<input type="text" name="job_title" ng-model="formData.job_title" required>
						<input type="text" name="celebrity" ng-model="formData.celebrity" required>
						<input type="number" name="huge_number" ng-model="formData.huge_number" required>
					</div>
					<div class="input_row">
						<input type="text" name="tedious_task" ng-model="formData.tedious_task" required>
						<input type="text" name="useless_skill" ng-model="formData.useless_skill" required>
						<input type="text" name="adjective" ng-model="formData.adjective" required>
					</div>
					<div class="input_row">
						<!-- why doesn't madlibs_form.huge_number.$error.number change to 'true' when I put in a string in huge_number? 
						this is true in Angular documentation as well. What's the point of $error.number if it doesn't detect it? -->
						<p class="errormsg">madlibs_form.huge_number.$error.number: {{ madlibs_form.huge_number.$error.number }}</p>
						<p class="errormsg" ng-if="madlibs_form.huge_number.$error.number && submitted">Please input a valid number.</p>
						<p class="errormsg" ng-if="madlibs_form.$error.required && submitted">All fields are required.</p>
						<input type="submit" value="Generate My Mad Lib">
					</div>
				</form>
			</div>
			<div class="text page-change-animation" ng-show="page2">
				<p>
					{{formData.name}} was a {{formData.job_title}} who loved technology. Although {{formData.name_sub}} loved parts of {{formData.name_pos}} job, {{formData.name_sub}} absolutely hated  {{formData.tedious_task}} and {{formData.dirty_task}}. So, {{formData.name}} met with {{formData.name_pos}} life mentor {{formData.celebrity}} who told {{formData.name_obj}} to learn how to {{formData.useless_skill}} with Thinkful. Thinkful didn't offer a course on {{formData.useless_skill}} so {{formData.name_sub}} studied programming instead. 
		 		</p>
		 		<p>
					What a great decision! With {{formData.name_pos}} new skills, {{formData.name}} built a {{formData.adjective}} robot named {{formData.obnoxious_celebrity}} that not only loved {{formData.dirty_task}} but did it {{formData.huge_number}} times faster. 
				</p>
				<div class="input_row">
					<form ng-submit="reset()">
						<input type="submit" value="Start Over">
					</form>
				</div>				
			</div>
		</section>

		<!-- scripts -->
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-animate.min.js"></script>
		<script src="scripts/app.js"></script>

	</body>
</html>